<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-4">
    <div class="input-group mb-3">
      <%= form.label :name, class:"input-group-text", style:"background-color: ;"%>
      <%= form.text_field :name, class:"form-control" %>
    </div>
    <div class="input-group mb-3">
      <%= form.label :end_time, class:"input-group-text" %>
      <%= form.datetime_select :end_time, class:"form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
