<p id="notice"><%= notice %></p>

<h1>User Quiz Answers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_quiz_answers.each do |user_quiz_answer| %>
      <tr>
        <td><%= link_to 'Show', user_quiz_answer %></td>
        <td><%= link_to 'Edit', edit_user_quiz_answer_path(user_quiz_answer) %></td>
        <td><%= link_to 'Destroy', user_quiz_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Quiz Answer', new_user_quiz_answer_path %>
