<h1>Quiz Question Answers</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Pregunta</th>
      <!--<th scope="col">ID</th>-->
      <th scope="col">Username</th>
      <th scope="col">Answer</th>
      <th scope="col">Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quiz_question_answers.each do |quiz_question_answer| %>
      <tr>
        <td><%= quiz_question_answer.quiz_question.question %></td> 
        <!--<td><%= quiz_question_answer.id %></td>-->
        <td><%= quiz_question_answer.user.username %></td> 
        <td><%= quiz_question_answer.status %></td> 

        <% if @match.status === quiz_question_answer.status  %>
          <td class="">Respuesta correcta</td>
        <% else %>
          <td class="">Respuesta incorrecta</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to questions', quiz_questions_path %>
<!--<%= link_to 'New Quiz Question Answer', new_quiz_question_answer_path %>-->