<%= form_with(model: quiz_question) do |form| %>
  <% if quiz_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz_question.errors.count, "error") %> prohibited this quiz_question from being saved:</h2>

      <ul>
        <% quiz_question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-4 ">
    <div class="input-group mb-3">
      <%= form.label :question, class:"input-group-text", style:"background-color: ;"%>
      <%= form.text_field :question, class:"form-control" %>
    </div>

    <div class="input-group mb-3">
      <%= form.label :status, class:"input-group-text", style:"background-color: ;" %>
      <%= form.select(:status, Quiz::Question.statuses.keys.map {|status| [status.titleize,status ]}) %>
    </div>
  <div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
